body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    user-select: none;

    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color:#9c89b8;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.panel {
    width: 26vw;
    height: 100vh;
    background-color:#efc3e6;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.score {
    color:#f0e6ef;
    font-size: 5vw;
}

.dice-button {
    width: 14vw;
    height: 3vw;
    background-color:#f0a6ca;
    border: .15vw solid #f0a6ca;
    border-radius: .5vw;
    color:#f0e6ef;
    font-size: 1.8vw;
    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: .3vw;
}

.board {
    width: 58vw;
    height: 32vw;
    margin-right: 8vw;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: .5vw;
}

.game {
    background-color:#efc3e6;
    box-shadow: 0 .1vw .3vw rgba(0,0,0,0.3);
    border-radius: .8vw; 
    font-size: 4vw;
    color:rgba(240, 230, 239, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;
}

.start , .finish {
    font-size: 1.5vw;
}

.figure { 
    width: 5vw;
    height: 5vw;
    background-color: white;
    border-radius: 3vw;
    border: .15vw dotted black;
    opacity: .8;

    display: block;
    position: absolute;
}